# basic
pandas 
numpy
tqdm
matplotlib
scikit-learn
joblib
python-box
opencv-python
python-dotenv

# competition dataset 
h5py
setuptools==59.5.0
trimesh

# notebook
jupyterlab
seaborn

# deep learning + torch
timm
ttach
albumentations
segmentation-models-pytorch
pytorch-lightning==1.6
torchmetrics=0.11.4

# logging
wandb
tensorboard
tensorboardX

# api
awscli